**/Actors
**/cameraCar_cs_UDP_grt_rtw
**/cameraeffects
**/cameras
**/CameraSensorConfig
**/Intelligent Traffic Module Plugin
**/Models
**/PBCameraPlugin
**/RemoteViewerPlugin
**/Resources
**/Results
**/slprj
**/Temp
**/Trajectories
**/V2XPlugin
**/Vissim

**/__pycache__

**.asv
**.autosave.zip

